
.dashboard{  
    width: 300px;
    height: 100%;
    display: "flex";  
    background-color: transparent;
    justify-content: flex-start;
    flex-direction: column; 

    position: fixed;
    left: 60%;

}



.dashboard button{
    color: #0095f6;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600px;

}

@media screen and (max-width: 1300px){
    .dashboard{
        display: none;
    }
}
