* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
#root{
  width: 100%;
  height: 100vh;
  background: rgba(var(--b3f,250,250,250),1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.wrapper{
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container{
  width: 350px;
  height: 400px;
  background: rgba(var(--d87,255,255,255),1);
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
}



#instagram{
  width: 100%;
  font-family: cursive;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  font-weight: lighter;
}

.login{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.input{
  width: 80%;
  height: 35px;
  background:rgba(var(--b3f,250,250,250),1);
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 2px;
  padding: 9px, 0 , 7px, 8px;
  margin-bottom: 5px ;
  border-color: transparent;
  outline: none;
}

.loginBtn{
  width: 80%;
  height: 30px;
  background-color:#0095f6;
  border:  1px solid transparent ;
  border-radius: 5px;
  color: #ffffff ;
  font-family: cursive;
  align-items: center;
  display:flex;
  justify-content: center;

}

#or{
  width: 80%;
  height: 30px ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(var(--f52,142,142,142),1);
}

.line{
  width: 40%;
  height: 1px;
  background:rgba(var(--b38,219,219,219),1);
}

#orText{
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
}

#fbLogin{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #385185;
}



#fbLogin img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#forgotPassword{
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 10px;

}
#forgotPassword p{
  color: #385185;
  font-size: smaller;
}


#signUp{
  width: 350px;
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  rgba(var(--d87,255,255,255),1);
  border: 1px solid rgba(var(--b6a,219,219,219),1);
}

#signUp p{
  font-family: cursive;
}

#getTheApp{
  width: 350px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#getTheApp p{
  text-align: center;
  width: 100%;
  color: rgba(var(--i1d,38,38,38),1);
  margin-bottom: 10px;
}

#getTheApp img {
  width: 135px;
  height: 40px;
  border-radius: 2px;

}



#footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#footer div{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer a,p{
  color: rgba(var(--f52,142,142,142),1);
  text-decoration: none;
  font-size: smaller;
  padding: 7px;
  box-sizing: border-box;
}

#slider{
  display: none;
  align-self: center;
  background-image: url(https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png);
  background-position: 0 0;
  background-size: 454px 618px;
  width: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
  justify-content: flex-end;
  align-items: center;
  
}

.slide{
  height: 427px;
  width: 240px;
  margin-right: 63px;
  margin-top: 5px;
}


@media  screen and (min-width: 865px){
  #slider{
      display: flex ;
      
  }
  
}